<a href="https://colab.research.google.com/github/dwizz11/UTS-Big-Data-Processing/blob/main/Christopher_Nathanael_2440012421_UTS_Big_Data_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 68.8 MB/s
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 61.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=cd8184bc1004653fa8fa50b7f30edd03244eeebdc8d40dce9ffbd3479b75a9a8
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Uts_Big_Data_Processing") \
    .getOrCreate()
sc = spark.sparkContext

In [ ]:
!wget https://raw.githubusercontent.com/dwizz11/UTS-Big-Data-Processing/main/Table1.csv

In [4]:
data1 = "Table1.csv"

In [20]:
dataframe1=spark.read.option("delimiter", ",").option("header", "true").csv(data1)

In [30]:
dataframe1.show()

+--------------+-----------------+--------+----+
|user_id_sender|user_id_recipient|image_id|like|
+--------------+-----------------+--------+----+
|       user002|          user001|image001|   1|
|       user003|          user001|image001|   1|
|       user004|          user001|image001|   0|
|       user005|          user001|image001|   0|
|       user002|          user001|image002|   1|
|       user003|          user001|image002|   1|
|       user004|          user001|image002|   1|
|       user005|          user001|image002|   1|
|       user001|          user002|image003|   0|
|       user003|          user002|image003|   1|
|       user004|          user002|image003|   1|
|       user005|          user002|image003|   1|
+--------------+-----------------+--------+----+

In [ ]:
!wget https://raw.githubusercontent.com/dwizz11/UTS-Big-Data-Processing/main/Table2.csv

In [7]:
data2 = "Table2.csv"

In [21]:
dataframe2=spark.read.option("delimiter", ",").option("header", "true").csv(data2)

In [22]:
dataframe2.show()

+-------+---+------+
|   user|age|gender|
+-------+---+------+
|user001| 28|Female|
|user002| 30|  Male|
|user003| 18|Female|
|user004| 40|  Male|
|user005| 30|Female|
+-------+---+------+

In [23]:
dataframe1.createOrReplaceTempView("DATAFRAME1")
dataframe2.createOrReplaceTempView("DATAFRAME2")

In [24]:
Result=spark.sql("select t1.user_id_sender as user_id_sender,t2.age as age_sender,t2.gender as gender_sender,t1.user_id_recipient as user_id_recipient,t3.age as age_recipient,t3.gender as gender_recipient,t1.image_id as image_id,t1.like from DATAFRAME1 t1 , DATAFRAME2 t2, DATAFRAME2 t3 where t1.user_id_sender==t2.user and t3.user==t1.user_id_recipient")

In [25]:
Result.write.option("header","True").csv("ResultTable")

In [26]:
data3="ResultTable"

In [27]:
dataframe3=spark.read.option("delimiter", ",").option("header", "true").csv(data3)

In [28]:
dataframe3.show()

+--------------+----------+-------------+-----------------+-------------+----------------+--------+----+
|user_id_sender|age_sender|gender_sender|user_id_recipient|age_recipient|gender_recipient|image_id|like|
+--------------+----------+-------------+-----------------+-------------+----------------+--------+----+
|       user002|        30|         Male|          user001|           28|          Female|image001|   1|
|       user003|        18|       Female|          user001|           28|          Female|image001|   1|
|       user004|        40|         Male|          user001|           28|          Female|image001|   0|
|       user005|        30|       Female|          user001|           28|          Female|image001|   0|
|       user002|        30|         Male|          user001|           28|          Female|image002|   1|
|       user003|        18|       Female|          user001|           28|          Female|image002|   1|
|       user004|        40|         Male|          user001|           28|          Female|image002|   1|
|       user005|        30|       Female|          user001|           28|          Female|image002|   1|
|       user001|        28|       Female|          user002|           30|            Male|image003|   0|
|       user003|        18|       Female|          user002|           30|            Male|image003|   1|
|       user004|        40|         Male|          user002|           30|            Male|image003|   1|
|       user005|        30|       Female|          user002|           30|            Male|image003|   1|
+--------------+----------+-------------+-----------------+-------------+----------------+--------+----+